{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import", "unused-imports"],
  "rules": {
    "unused-imports/no-unused-imports": "error",
    "react-hooks/exhaustive-deps": 0,
    "@typescript-eslint/no-explicit-any":  "error",
    "@typescript-eslint/no-unused-vars":  "error"
  },
  "extends": ["ts-react-important-stuff", "plugin:prettier/recommended"]
}
