.search {
  max-height: 400px;
  overflow: scroll;
  position: absolute;
  z-index: 2;
  width: 33%;
  background: #f0eeee;
}

.concept {
  font-weight: bold;
}

.text {
 padding-top: 1.5rem;
}

.notification {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 1;
}
