@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.heading {
  @include carbon--type-style('productive-heading-02');
  margin-bottom: 1rem;
}

.contentSwitcher {
  height: $spacing-08;
}

.column {
 padding-top: 1.5rem;
}

.dateRange {
  padding-bottom: 1rem;
 }

.buttonSet {
 justify-content: end;
}

.text {
 padding-top: 1.5rem;
}

.multipleInputs {
 display: flex;
 align-items: center;
}

.timeModifier {
  width: 300px;
}

.lastTime {
  padding-left: 1rem;
  padding-right: 1rem;
}

.operators {
  width: 60%;
  padding-right: 1rem;
}

.value {
  padding-right: 2rem;
}
