@import "~@openmrs/esm-styleguide/src/vars";
@import "~carbon-components/src/globals/scss/vars";
@import "~carbon-components/src/globals/scss/mixins";

.contentSwitcher {
  height: $spacing-08;
}

.column {
 padding-top: 1.5rem;
}

.dateRange {
  padding-top: 1.5rem;
  display: flex;
 }

.text {
 padding-top: 1.5rem;
}

.multipleInputs {
 display: flex;
 align-items: center;
}

.timeModifier {
  width: 300px;
}

.lastTime {
  padding-left: 1rem;
  padding-right: 1rem;
}

.operators {
  width: 60%;
  padding-right: 1rem;
}

.value {
  padding-right: 2rem;
}

.whatValuesInputs{
  display: flex;
  align-items: end;
}

.daysContainer {
   display: flex;
   justify-content: space-between;
   width: 65%;
}
