.concept {
  font-weight: bold;
}

.column {
 padding-top: 1.5rem;
}

.dateRange {
  padding-bottom: 1rem;
 }

.buttonSet {
 justify-content: end;
}

.text {
 padding-top: 1.5rem;
}

.notification {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  z-index: 1;
}

.multipleInputs {
 display: flex;
 align-items: center;
}

.timeModifier {
  width: 300px;
}

.lastTime {
  padding-left: 2rem;
  padding-right: 2rem;
}

