@import 'carbon-components/css/carbon-components.css';
@import 'carbon-components/scss/globals/scss/typography.scss';
@import "~@openmrs/esm-styleguide/src/vars";

.heading {
  @include carbon--type-style('productive-heading-02');
  color: $text-02;
  margin-bottom: $spacing-05;;
}

.heading:after {
  content: "";
  display: block;
  width: 2rem;
  padding-top: 0.188rem;
  border-bottom: 0.375rem solid var(--brand-03);
}

.mainContainer {
  padding-bottom: 1.5rem;
  background: $ui-01;
  display: flex;
  justify-content: center;
}

.title {
  padding: 1rem;
  font-size: 1.2rem;
}

.container {
  width: 50%;
}

:global(.bx--tab-content) {
  width: 100%;
  padding: 0;
}

:global(.bx--inline-loading__text) {
  color: white
}

.verticalTabs {
  margin: 1rem 0;
  width: 20%;

  &:global(.bx--tabs--scrollable .bx--tabs--scrollable__nav-item+.bx--tabs--scrollable__nav-item) {
    margin-left: 0rem;
  }
  
  > ul {
    flex-direction: column !important;
  }
}

.tab > {
  button {
    border-bottom: 0 !important;
    border-left: 3px solid $ui-03 !important;
  }
  
  button, button:focus, button:active {
    outline: 0 !important;
    outline-offset: 0 !important;
  }
}

.selectedTab > button {
  border-left: 3px solid var(--brand-03) !important;
  border-bottom: 0 !important;
  font-weight: 600 !important;
}

.searchContainer {
  display: flex;
}

.tabContainer {
  background: white;
  padding-left: 1.5rem;
  padding-right: 1rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.optionCell {
  padding: 0 !important;
}

.optionHeader {
  width: 1.5rem !important;
}
