@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.heading {
  @include type.type-style('productive-heading-02');
  color: $text-02;
  margin-bottom: spacing.$spacing-05;;
}

.heading:after {
  content: "";
  display: block;
  width: 2rem;
  padding-top: 0.188rem;
  border-bottom: 0.375rem solid var(--brand-03);
}

.mainContainer {
  padding-bottom: 1.5rem;
  background: $ui-01;
  display: flex;
  justify-content: center;
}

.title {
  padding: 1rem;
  font-size: 1.2rem;
}

.desktopContainer {
  width: 50%;
}

.tabletContainer {
  width: 90%;
}

.cohortBuilder {
  :global(.cds--date-picker.cds--date-picker--single .cds--date-picker__input) {
    width: auto;
  }

  :global(.cds--tab-content) {
    width: 80%;
    padding: 0;
  }

  :global(.cds--inline-loading__text) {
    color: white
  }

  :global(.cds--tab--list) {
    flex-direction: column;
    margin: 1rem;
  }

  :global(.cds--tabs) {
    width: auto;
    max-height: 100%;
  }

  :global(.cds--tabs .cds--tabs__nav-link) {
    border-bottom: 0;
    border-left: 3px solid $ui-03;
  }

  :global(.cds--tabs .cds--tabs__nav-item--selected) {
    border-left: 3px solid var(--brand-03);
    border-bottom: 0;
    font-weight: 600;
  }

  :global(.cds--number) {
    width: 68%;
  }

  :global(.cds--tabs__nav-link) {
    &:active, &:focus { 
      outline: 0 !important;
      outline-offset: 0 !important;
    }
  }

  :global(.cds--multi-select__wrapper .cds--list-box__wrapper) {
    width: 90% !important;
  }

  :global(.cds--col) {
    padding-left: 0;
    width: 100%;
  }
}

.tabletTab {
  width: 25%;
}

.desktopTab {
  width: 20%;
}

.tab {
  display: flex;
}

.tabContainer {
  background: white;
  padding-left: 1.5rem;
  padding-right: 1rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.optionCell {
  padding: 0 !important;
}

.optionHeader {
  width: 1.5rem !important;
}

.text {
 font-size: 0.9rem;
 padding: 0.5rem;
}
